<div class="project_tasks_container">
    <div class="tasks_table">

        <div class="task_table_status">
            <div class="task_table_header_side">Appointed</div>
            <div
                (drop)="onDrop($event, 'APPOINTED')"
                (dragover)="allowDrag($event)"
                (dragenter)="enterDropArea($event)"
                (dragleave)="leaveDropArea($event)"
                class="task_table_content_side"
            >
                <inner-task *ngFor="let task of getTasks('APPOINTED')" [task]="task" (dragstart)="onDragStart($event, task)"></inner-task>
                <div [routerLink]="['/project', projectId, 'task', 'create']" class="create_task_link no_select">
                    <div class="create_task_link_text no_select">+</div>
                </div>
            </div>
        </div>

        <div class="task_table_status">
            <div class="task_table_header_middle">Performing</div>
            <div
                (drop)="onDrop($event, 'PERFORMING')"
                (dragenter)="enterDropArea($event)"
                (dragleave)="leaveDropArea($event)"
                (dragover)="allowDrag($event)"
                class="task_table_content_middle"
            >
                <inner-task *ngFor="let task of getTasks('PERFORMING')" [task]="task" (dragstart)="onDragStart($event, task)"></inner-task>
            </div>
        </div>

        <div class="task_table_status">
            <div class="task_table_header_side">Fulfilled</div>
            <div
                (drop)="onDrop($event, 'FULFILLED')"
                (dragover)="allowDrag($event)"
                (dragenter)="enterDropArea($event)"
                (dragleave)="leaveDropArea($event)"
                class="task_table_content_side"
            >
                <inner-task *ngFor="let task of getTasks('FULFILLED')" [task]="task" (dragstart)="onDragStart($event, task)"></inner-task>
            </div>
        </div>

    </div>
</div>
