.project_tasks_text {
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
}

.tasks_table {
    margin-top: 15px;
    display: flex;
    border-radius: 4px;
    padding: 10px;
    justify-content: space-around;
}

.task_table_status {
    width: 100%;
}

.task_table_header_side {
    border-bottom: 2px solid #e8e9e9;
    text-align: center;
}

.task_table_header_middle {
    border-right: 2px solid #e8e9e9;
    border-left: 2px solid #e8e9e9;
    border-bottom: 2px solid #e8e9e9;
    text-align: center;
    flex-direction: column;
}

.task_table_content_middle {
    border-right: 2px solid #e8e9e9;
    border-left: 2px solid #e8e9e9;
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    height: 95%;
}

.task_table_content_side {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
}

.table_task {
    align-self: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    width: 90%;
    padding: 5px;
    background: #e8e9e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.drop_here {
    background: #f3f4f4;
}

.create_task_link {
    margin-top: auto;
    display: flex;
}

.create_task_link_text {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    color: #838a8a;
}
