<div draggable="true" class="table_task">
    <div class="task_header no_select" [routerLink]="['./task', task.id]">{{task.name}}</div>
    <div class="task_description">
        {{task.description}}
    </div>
    <div class="task_information">
        <div class="task_developers">
            <div class="developer_task_wrapper">
                <img *ngFor="let developer of task.developers" class="task_developer" src="{{(developer.imageId | imageLink)}}"
                     alt="{{developer.nick}}" title="{{developer.nick}}">
            </div>

            <div class="developer_task_wrapper">
                <div class="add_developer" (click)="openAddDeveloperModal ()">+</div>
            </div>
        </div>
        <div class="task_end_time">
            {{task.endTime}}
        </div>
    </div>
</div>
<modal-window *ngIf="isOpenedModalWindow"
              [developers]="task.developers"
              (close)="onCloseAddDeveloperModal($event)"
              draggable="false"
>
</modal-window>
