<div class="task_header" [routerLink]="['./task', task.id]">{{task.name}}</div>
<div class="task_description">
    {{task.description}}
</div>
<div class="task_information">
    <div class="task_developers">
        <div class="developer_task_wrapper">
            <img class="task_developer" src="{{imageEndPoint}}/default_user" alt="developer" title="developer">
        </div>
        <div class="developer_task_wrapper">
            <img class="task_developer" src="{{imageEndPoint}}/default_user" alt="developer" title="developer">
        </div>
        <div class="developer_task_wrapper">
            <img class="task_developer" src="{{imageEndPoint}}/default_user" alt="developer" title="developer">
        </div>
        <div class="developer_task_wrapper">
            <img class="task_developer" src="{{imageEndPoint}}/default_user" alt="developer" title="developer">
        </div>
    </div>
    <div class="task_end_time">
        {{task.endTime}}
    </div>
</div>
