<div class="comment_wrapper">
    <div class="comment_image_wrapper">
        <img class="comment_image" src="{{(comment.user?.imageId | imageLink)}}" alt="{{comment.user?.role}}" title="developer">
    </div>
    <div class="comment_body">
        <div class="user_name">
            <div>
                {{comment.user.nick}}
            </div>
        </div>
        <div class="comment_text">
            {{comment.text}}
        </div>
        <div class="creation_time">
            {{comment.creationTime}}
        </div>
    </div>

</div>
