<project-tasks class="full_width"
               [projectId]="(selectedProject | async)?.id"
               [tasks]="(selectedProject | async)?.tasks">
</project-tasks>
<div class="project_developers">
    <div class="project_subhead">Project developers</div>
    <div class="developer_project_wrapper">
        <img *ngFor="let developer of (selectedProject | async)?.command.developers" class="project_developer" [src]="(developer.imageId | imageLink)"
             alt="{{developer.nick}}" title="{{developer.nick}}">
        <!--<div *ngIf="(user | async)?.role === 'manager'" class="add_developer" (click)="addDeveloper()">+</div>-->
    </div>
</div>
<comments class="full_width"
          [itemType]="'project'"
          [itemId]="(selectedProject | async)?.id"
          [comments]="(selectedProject | async)?.comments">
</comments>
<!--<modal-window *ngIf="isOpenedModalWindow"
              [developers]="(selectedProject | async)?.command.developers"
              (close)="onCloseAddDeveloperModal($event)"
              draggable="false"
              [type]="'project'"
>
</modal-window>-->

