<div class="nav_header">
    <p class="nav_header_text">Shlaker</p>
</div>

<div class="nav_element_profile">
    <img class="avatar_image" src="assets/images/default_user.png" alt="Avatar" />
    <div class="nav_profile">
        Nick
    </div>
    <div class="logout">
        Logout
    </div>
</div>

<div #piu class="nav_element">
    <div class="nav_element_header" (click)="changeState('projects')">
        <p>Projects</p>
        <p class="down_arrow">
            <img class="down_arrow_image" src="assets/images/down_arrow.png" alt="Down Arrow">
        </p>
    </div>
    <div id="projects_close" class="nav_element_list">
        <div class="list_element">One</div>
        <div class="list_element">Two</div>
        <div class="list_element">Three</div>
    </div>
</div>

<div class="nav_element">
    <div class="nav_element_header" (click)="changeState('tasks')">
        <p>Tasks</p>
        <p class="down_arrow">
            <img class="down_arrow_image" src="assets/images/down_arrow.png" alt="Down Arrow">
        </p>
    </div>
    <div id="tasks_close" class="nav_element_list">
        <div class="list_element">One</div>
        <div class="list_element">Two</div>
        <div class="list_element">Three</div>
    </div>
</div>

<!--<p>
    {{ projects | async | json }}
    <select (change)="selectProject($event.target.value)">
        <option></option>
        <option *ngFor="let project of projects | async" [value]="project.id" [selected]="project.id == (selectedProject | async)?.id">{{project.name}}</option>
    </select>
</p>-->
