<div class="nav_header">
    <div class="no_select nav_header_text" [routerLink]="['/']">Shlaker</div>
</div>

<div class="nav_element_profile">
    <img class="avatar_image" src="{{imageEndPoint}}{{(currentUser | async)?.imageId | imageLink}}" alt="Avatar" />
    <div class="nav_profile">
        {{(currentUser | async)?.nick}}
    </div>
    <div (click)="logout()" class="logout">
        Logout
    </div>
</div>

<div class="nav_element">
    <div class="nav_element_header" (click)="changeMenuState('projects')">
        <div class="menu_header">Projects</div>
        <div class="down_arrow">
            <img class="down_arrow_image" src="{{imageEndPoint}}/default/down_arrow" alt="Down Arrow">
        </div>
    </div>
    <div id="projects_close" class="nav_element_list">
        <div *ngFor="let project of projects | async" [routerLink]="['/project', project.id]" class="list_element no_select">{{project.name}}</div>
    </div>
</div>

<div class="nav_element">
    <div class="nav_element_header">
        <div [routerLink]="['/project/create']" class="menu_header no_select">Create Project</div>
    </div>
</div>
